*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  background:#111;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#000;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:url('images/banner.jpg') center/cover;
}

.hero h1{
}